{% extends '_base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<h1>Homepage</h1>
<div>
    <img src="{% static 'images/image_professional.jpg' %}" alt="" class="bookcover">
</div>
{% if user.is_authenticated %}
    Hi {{ user.email }}!
    <p><a href="{% url 'account_logout' %}">LogOut</a></p>
{% else %}
    <p>You are not logged in</p>
    <p><a href="{% url 'account_login' %}">Log In</a></p>
    <p><a href="{% url 'account_signup'%}">Sign Up</a></p>
{% endif %}
{% endblock content %}